*.backup
*.terraform
*.sh
*.drawio
*.png

/modules/bigquery
/modules/compute

# Ignore all Terraform state and backup files anywhere
*.tfstate

*.tfstate.backup

# Ignore lock files anywhere
*.terraform.lock.hcl

# Ignore variable files and secrets anywhere

**/*.tfvars
*.tfvars
*.env

# Ignore JSON files (if generated or not needed)
*.json

# Ignore keys folder anywhere
keys/
